<md-card class="card">
    <md-card-title>Bank Accounts</md-card-title>
    <md-card-content>
    <md-list>
        <md-list-item *ngFor='let bankAccount of bankAccounts'>
            <span>{{bankAccount.number}}</span>
            <button md-icon-button (click)='delete(bankAccount)'>
                <md-icon>delete</md-icon>
            </button>
        </md-list-item>
    </md-list>
    </md-card-content>
    <md-card-actions>
        <md-input-container>
            <input mdInput placeholder='BA number' [(ngModel)]='newAccount'>
        </md-input-container>
        <button md-raised-button (click)='add()'>Add</button>
    </md-card-actions>
    <md-card-footer>
        <span *ngIf='errorMessage'>{{errorMessage}}</span>
    </md-card-footer>
</md-card>