<md-card class="card">
    <md-card-title>Payment Points</md-card-title>
    <md-card-content>
        <md-list>
            <md-list-item *ngFor='let paymentPoint of paymentPoints'>
                <span>{{paymentPoint.number}}</span>
                <span>({{paymentPoint.bankAccountNumber}})</span>
                <button md-icon-button (click)='delete(paymentPoint)'>
                    <md-icon>delete</md-icon>
                </button>
            </md-list-item>
        </md-list>
        <span *ngIf='errorMessage'>{{errorMessage}}</span>
    </md-card-content>
    <md-card-actions>
        <div>
            <md-input-container>
                <input mdInput placeholder='PP Number' [(ngModel)]='newPaymentPoint'>
            </md-input-container>
            <md-select name="bankAccount" [(ngModel)]='newPaymentPointBankAccount'
                placeholder='BA'>
                <md-option *ngFor='let bankAccount of bankAccounts' [value]='bankAccount.number'>
                    {{bankAccount.number}}
                </md-option>
            </md-select>
            <button md-raised-button (click)='add()'>Add</button>
        </div>
    </md-card-actions>
</md-card>