<div>
    <div *ngIf='merchant'>
        <h1>{{merchant.name}}</h1> 
        <div class='md-padding' layout="row" flex>
            <div layout="row" flex>
                <bank-accounts [merchantId]='merchant.id'></bank-accounts>
                <payment-points [merchantId]='merchant.id' ></payment-points>
            </div>
        </div>
    </div>
</div>