<md-input-container>
    <input mdInput type='search' (keyup)='onSearchTermChange($event.target.value)'>
</md-input-container>
<md-nav-list>
    <md-list-item *ngFor='let merchant of merchants'>
        <a md-line (click)='selectMerchant(merchant)'>{{merchant.name}}</a>
    </md-list-item>
</md-nav-list>
<span *ngIf='errorMessage'>{{errorMessage}}</span>